.header{
    padding:30px 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo img{
    width: 320px;
    /* width:100%; */
    height:100%;
    object-fit: contain;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu span {
    padding:10px 0px;
    margin:0px 10px;
}
.header__menu span a{
    text-decoration: none;
    color:#111;
    font-weight: 600;
    font-size: 0.9rem;
}
.header__menu .span__contact{
    display: flex;
    
    align-items: flex-end;
    
    flex-direction: column;
    margin-top:20px;
    
}
.header__logo1{
    display: flex;
    align-items: center;
    
}
.header__logo1 span a{
    color:#111;
    padding:0 3px;
}
.logo__fb{
    margin-top:25px;
    display: flex;
    flex-direction: column;
}
.header__search{
    display: flex;
    align-items: center;
}
.header__input{
    display: flex;
    
}
.header__input input{
    width:5em;
    border-color: #000;
    outline: 0;
    border:0;
    background-color: transparent;

    border-bottom: 1px solid;
    padding-bottom: .5em;
}
.header__input > .MuiSvgIcon-root{
    font-size:2rem;
   cursor: pointer;
}

.header__cart span {
    font-weight:900;
    cursor: pointer;
}
.cart-icon{
    display: none;
}
@media only screen and (max-width:1130px){
    .header__logo img{
        width: 280px;
    }
    .header__menu span a{
        font-size:0.8rem;
    }
}
@media only screen and (max-width:800px){
    .header__menu,.header__logo1,.header__input,.header__cart span{
        display: none;
        
    }
    .cart-icon{
        display:flex;
        align-items: center;
  
    }
    .cart-icon > .MuiSvgIcon-root{
        font-size:3rem;
    }
    .menuResponsive{
        display: flex;
        flex-direction: column;
    }
    #close{
        display: none;
    }
}
@media only screen and (max-width:580px){
    .header__menu,.header__logo1,.header__search{
        display: none;
    }
    .header__logo img{
        width:200px;
    }
    .header{
        padding:30px 0;
    }
}