.videoBackground{
    padding-top:300px;

    width: 90%;
    margin:0 auto;
}
.videoBackground__title{
    font-size:1.8rem;
    font-weight: 700;
}
@media only screen and (max-width:800px){
    .videoBackground{
        padding:20px;
    }
}
@media only screen and (max-width:580px){
    .videoBackground{
        padding: 0px;
      
    }
}